.cont .container {
    margin-top: 158px;
}

.cont_title {
    font-family: 'Fraunces';
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #83888F;
    margin-left: 85px;
    margin-bottom: 70px;
}

.cont_list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: -30px;
}

.cont_item {
    list-style: none;
    width: 285px;
}

.cont_item:nth-child(3) {
    margin-top: 7px;
}

.cont_item img {
    margin-bottom: 20px;
}

.cont_heading {
    font-family: "Fraunces";
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

.cont_text {
    font-family: 'Barlow';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
    padding: 0;
}