.jojo .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 146px;
    width: 1280px;
    height: 474px;
    background-color: #2C343E;
    border-radius: 8px;
}

.jojo_box {
    width: 540px;
    margin-top: -70px;
}

.jojo_img {
    margin-top: -160px;
}

.jojo_heading {
    font-family: "Fraunces";
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    margin: 0;
    padding: 0;
    padding-bottom: 24px;
    color: #FEFCF7;
}

.jojo_text {
    margin: 0;
    padding: 0;
    font-family: 'Barlow';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FEFCF7;
}