.footer {
    /* width: 1280px; */
    background-color: #2C343E;
    margin-top: 168px;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

.footer .box {
    width: 622px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 70px;
}

.flex {
    width: 120px;
    display: flex;align-items: center;
    justify-content: space-between;
}